@charset "euc-jp";
body {
	background-color: #F8F8EE;
}

/* CSS Document */

* {
	margin:0;
	padding:0;
}

img{
	border:none;
}
a {
	font-size: 12px;
	color: #069;
}

a:hover{
	color:#CC3366;
}

.space {
	clear: left;
}
.btm10 {
	clear: left;
	margin-bottom: 10px;
}
.btm30 {
	clear: left;
	margin-bottom: 30px;
}
.up10 {
	clear: left;
	margin-top: 10px;
}



h1, h2, h3, h4, h5, div, p, ul, dl, dt, dd, form, fieldset, address, img, p {
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:12px;
	border:none;
	color: #666666;
	font-family: "Ôº≠Ôº≥ Ôº∞„£Í·‚∑„•„°¶∞ƒ, Osaka, "°¶ƒ‰#°¶£Á·„Ô‰2°¶°¶Pro W3";
	line-height: 12px;
}
#wrapper {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 1000px;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url(../images/contents_bg.png);
}
#head {
	clear: left;
	width: 1000px;
}

#contents {
	float: left;
	width: 1000px;
}
#sab {
	float: left;
	width: 200px;
	margin-right: 10px;
}
#main {
	float: left;
	width: 790px;
}
#footer {
	margin-top: 50px;
	float: left;
}
#top_main {
	float: left;
	width: 790px;
	margin-bottom: 30px;
}
#top_main_left {
	float: left;
	width: 540px;
}
#top_main_right {
	float: left;
	width: 240px;
	margin-left: 10px;
}
#top_ranking {
	float: left;
	height: 45px;
	width: 240px;
	background-image: url(../images/top_ranking_bg.png);
	background-repeat: no-repeat;
}
#top_ranking p {
	font-size: 10px;
	font-weight: bold;
	color: #666;
	margin-top: 25px;
	margin-left: 50px;
}
.ranking_inner01 {
	float: left;
	width: 240px;
	padding-top: 5px;
	padding-bottom: 4px;
	background-image: url(../images/ranking_line.png);
	background-repeat: repeat-x;
	background-position: top;
}
.ranking_inner01 img {
	float: left;
	margin-right: 5px;
}
.ranking_inner01 p {
	color: #666;
	margin-left: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 14px;
}
.ranking_inner01 p a {
	font-weight: normal;
	text-decoration: none;
	color: #666;
}
.ranking_inner01 p a:hover {
	text-decoration: underline;
}

.ranking_inner02 {
	float: left;
	width: 240px;
	padding-top: 8px;
	padding-bottom: 7px;
	background-image: url(../images/ranking_line.png);
	background-repeat: repeat-x;
	background-position: top;
}
.ranking_inner02 img {
	float: left;
	margin-right: 5px;
}
.ranking_inner02 p {
	color: #666;
	margin-top: 5px;
	line-height: 14px;
}
.ranking_inner02 p a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.ranking_inner02 p a:hover {
	text-decoration: underline;
}

#ranking01 {
	width: 172px;
	float: right;
	height: 63px;
	background-image: url(../images/ranking_icon01.png);
	background-repeat: no-repeat;
}
#ranking02 {
	width: 172px;
	float: right;
	height: 63px;
	background-image: url(../images/ranking_icon02.png);
	background-repeat: no-repeat;
}
#ranking03 {
	width: 172px;
	float: right;
	height: 63px;
	background-image: url(../images/ranking_icon03.png);
	background-repeat: no-repeat;
}
#ranking04 {
	width: 194px;
	float: right;
	height: 39px;
}
.top_inner {
	margin-bottom: 40px;
	float: left;
	width: 790px;
}
.top_info {
	margin-bottom: 40px;
	width: 770px;
	float: left;
	padding: 10px;
}
.top_info li {
	margin-bottom: 1px;
	padding-top: 4px;
	padding-left: 55px;
}

.top_inner_l {
	float: left;
	width: 390px;
	margin-bottom: 10px;
	text-align: center;
}
.top_inner_l img {
	margin-bottom: 5px;
}
.top_inner_l a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.top_inner_l a:hover {
	text-decoration: underline;
}

.top_inner_r {
	float: left;
	width: 390px;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.top_inner_r img {
	margin-bottom: 5px;
}
.top_inner_r a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.top_inner_r a:hover {
	text-decoration: underline;
}


.icon01 {
	background-image: url(../images/icon_info.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 17px;
}
.icon02 {
	background-image: url(../images/icon_otoku.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 17px;
}
.top_set {
	padding: 15px;
	margin-bottom: 30px;
	float: left;
	width: 760px;
}
.top_set01 {
	position:relative;
	float: left;
	width: 140px;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.top_set02 {
	position:relative;
	float: left;
	width: 140px;
	margin-bottom: 15px;
	text-align: center;
}
.top_set01 img {
	margin-bottom: 3px;
}
.top_set02 img {
	margin-bottom: 3px;
}
.top_set_pickUp {
	background-color:#FDEAEA;
}
.top_set_pickUp:after {
	content:"";
	position:absolute;
	top:-15px;
	left:50%;
	margin-left:-40px;
	width:79px;
	height:21px;
	background:url(../images/top_set_pickup.png) center top no-repeat;
}
.top_set_sale {
	background-color:#FFFFA2;
}
.top_set_sale:after {
	content:"";
	position:absolute;
	top:-18px;
	left:50%;
	margin-left:-40px;
	width:79px;
	height:21px;
	background:url(../images/top_set_sale.png) center top no-repeat;
}

.price_off {
	font-weight: bold;
	color: #F00;
	font-size: 10px;
}
.top_set01 p a {
	font-size: 10px;
}
.top_set02 p a {
	font-size: 10px;
}
.price {
	font-size: 12px;
	line-height:1.4em;
	font-weight: bold;
	/* color: #99A544; */
	color: #C92F2E;
}
#review_txt {
	float: left;
	height: 212px;
	width: 790px;
	background-image: url(../images/review_txt.png);
	background-repeat: no-repeat;
}
#review_txt #next {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 120px;
}
#review_txt .next_pre {
	font-size: 26px;
	color: #870000;
	padding-left: 20px;
}
#review_atten {
	float: left;
	width: 768px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #CCC;
	background-color: #FFF;
}
#review_atten p {
	line-height: 14px;
}

.point_area01 {
	float: left;
	width: 790px;
	margin-bottom: 30px;
}
.point_area01 p {
	font-size: 16px;
	line-height: 1.2em;
}
.point_area01 .bnr {
	border: 5px solid #CCC;
	padding: 10px;
	clear: left;
	text-align: center;
	background-color: #FCF5E2;
}
.point_area01 table {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.point_area01 th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #D1E0EF;
	padding: 10px;
	width: 160px;
	text-align: left;
}
.point_area01 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #FFF;
	padding: 10px;
	line-height: 14px;
}
.point_area01 tr:first-of-type th,
.point_area01 tr:first-of-type td {
	border-top: 1px solid #CCC;
}

.point_area02 {
	float: left;
	width: 790px;
	margin-bottom: 30px;
}
.point_area02 .bnr {
	border: 5px solid #CCC;
	padding: 10px;
	clear: left;
	text-align: center;
	background-color: #FFE8E8;
}
.point_area02 table {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.point_area02 th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #FFE8E8;
	padding: 10px;
	width: 160px;
	text-align: left;
}
.point_area02 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #FFF;
	padding: 10px;
	line-height: 14px;
}
#point_info {
	border: 5px solid #D8456F;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #FCF1F4;
}
#point_info p {
	color: #D8456F;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
}
#about_tit {
	background-image: url(../images/about_tit.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 618px;
	width: 790px;
	margin-bottom: 40px;
}
#about_tit p {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-top: 520px;
}
#about_txt {
	background-color: #333331;
	padding: 10px;
	margin-bottom: 40px;
}
.about_inner {
	margin-bottom: 40px;
}
.about_inner p {
	font-size: 14px;
	line-height: 16px;
}
#about_txt p {
	font-size: 14px;
	line-height: 16px;
	color: #FFF;
}
.coupon_get {
	padding: 10px;
	background-color: #E6F1CD;
	text-align: center;
	margin-bottom: 10px;
}
#soy_btn {
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background-color: #E8EFF7;
}
#review_link {
	margin-bottom: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #F6BC50;
	border-bottom-color: #F6BC50;
	border-left-color: #F6BC50;
	padding: 10px;
	text-align: center;
}
.news {
	background-color: #FFF;
	padding: 20px;
}
.news p {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
}


/*--------------------- ËøΩÂ¥¢css ---------------------*/
.imgSize100 {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.imgSize100 img {
	width: 100%;
}
.ta_c {
	text-align:center;
}
.txtBox {
	font-family: "°¶°„£‚·„°¶£Â , Meiryo, "Ôº≠Ôº≥ Ôº∞„£Í·‚∑„•„°¶∞ƒ, Osaka, "°¶ƒ‰#°¶£Á·„Ô‰2°¶°¶Pro W3";
	padding: 20px;
	margin-bottom: 20px;
	color: #000;
	font-weight:bold;
}
.txtBox-white {
	background-color:#FFF;
}
.txtBox p {
	font-size:16px;
	line-height:1.4em;
}
.pt-5 {
	padding-top:5px;
}
.media_tv {
	position:relative;
}
.media_tv .icon_media_tv {
	position:absolute;
	width:198px;
	height:202px;
	/* bottom:40px; *//* °¶‘ÂW°¶*/
	bottom:60px;/* °¶≠„•‚•„≥„°¶°¶º„•Í°¶ﬁÁ6∆‰é∂°¶*/
	right:-170px;
}
.headerFrame {
	/*·Ù†°¶¥Ê?•„£È°¶÷‰!∏‰!§‰"∂Â@¥ÂøË°¶µ„£‚·‚∫„£ÚÂ§≤Â—Í	°¶Ä°¶Ä°¶–‰#°¶#Ä°¶º„•Ó•„ ‰#°¶"ø„•Ó·„ª„•Ê·„ ‰#∞‰#¥‰#°¶°¶§„°‰feader.css°¶≠¡nrCamp°¶§‰ °¶/
	/* height:520px !important; *//* Â˙ÄÂ∞¬‰"µ„£‚·‚°¶*/
	/* height:690px !important; *//* °¶≠„•‚•„≥„°¶°¶º„•Í°¶§‰"∞‰!æ‰éªø„°Ê°¶µ„£‚·‚°¶*/
	height:520px !important;
}


/*------ °¶π„•Ó·„¬‰#ª≤ALE°¶πË®≠‰º‘Â@°¶------*/
.specialSite {
	padding:0 0 20px;
	font-family: Hiragino Kaku Gothic ProN,Meiryo, sans-serif !important;
	color:#3b5998;
	text-decoration:none;
}
.specialSite-pink {
	background:url(../images/ss/specialsite_bg.png) left top repeat;
}
.specialSite-yellow {
	background:url(../images/ss/specialsite2_bg.png) left top repeat;
}
.specialSite * {
	font-family:"°¶ƒ‰#°¶£Á·„Ô‰2°¶°¶Pro W3", "Hiragino Kaku Gothic Pro", "°¶°„£‚·„°¶£Â , Meiryo, Osaka, "Ôº≠Ôº≥ Ôº∞„£Í·‚∑„•„°¶∞ƒ, "MS PGothic", sans-serif;
}
.specialSite a:hover {
	opacity:0.8;
}
.specialSite_title {
	padding:18px;
	font-size:42px;
	line-height:1em;
	text-align:center;
	color:#FFF;
	background: url(../images/ss/specialsite2_ttbg.png) left top repeat;
	text-shadow: #F73E3E 1px 1px 0px, #F73E3E -1px 1px 0px, #F73E3E -1px 0px, #F73E3E -1px -1px 0px;
}
.specialSite_block {
	position:relative;
	margin: 10px auto 30px;
	padding:15px 15px;
	width:740px;
	background:#FFF;
	border-radius: 15px;
	border:5px solid #FFF;
}
.specialSite_block-green {
	border-color:#53AE31;
}
.specialSite_block-red {
	border-color:#E50000;
}
.specialSite_block-gold {
	border-color:#AE9F1E;
}
.specialSite_block-white {
	border-color:#FEFEFE;
}
.specialSite_block-lbrue {
	border-color:#21B3EC;
}
/*.specialSite_block-tt-01 {
	background: url(../images/specialsite2_tt01.png) left top no-repeat #FFF;
	padding-top:90px;
}.specialSite_block-tt-02 {
	background: url(../images/specialsite2_tt02.png) left top no-repeat #FFF;
	padding-top:90px;
}*/
.specialSite_block p {
	margin-bottom:10px;
}
.specialSite_block_icon {
	position:absolute;
	left:3px;
	top:3px;
	width:214px;
	height:214px;
}
.specialSite_block_txt {
	padding:0 0 12px 200px;
}
.specialSite_block_off {
	padding:0 0 0 210px;
}
.specialSite_qouponGet {
	margin-bottom:10px;
	padding:15px 8px;
	/* background-color:#FFFCCA; */
	background-color:#E50000;
	text-align:center;
}
.specialSite_txt-last {
	font-size: 18px !important;
	line-height:1.4em;
	padding:5px 0 10px;
	font-weight: bold;
	text-align: center;
}
/*--- °¶ª„•Ó·„°¶…Ê°¶°¶---*/
.specialSite_table * {
	line-height:1.5em;
	font-size:15px;
	text-decoration: none !important;
}
.specialSite_table_itemtt {
	color:#3b5998;
}
.specialSite_table_itemPrice {
	color:#BF0000;
}
/*--- °¶¢Â«˘°¶°ÊÀ˘ ---*/
.specialSite_freett {
	text-align:center;
	font-size:24px;
	line-height:1.2em;
	font-weight:bold;
	color:#FF0000;
}
.specialSite_freett-nml {
	text-align:center;
	font-size:24px;
	line-height:1.2em;
	font-weight:bold;
}
.specialSite_freett-red {
	color:#FF0000;
}
.specialSite_freeImg {
	width:100%;
}
.specialSite_block .top_set {
	margin:0 auto;
	float:none;
	width:610px;
}
.specialSite_freePrice {
	color:#FF0000;
}
.specialSite_free_link {
	margin:10px;
	text-align:center;
}
.specialSite_free_link a {
	font-size:15px !important;
	font-weight:bold;
}
/*--- specialSite_block2 ---*/
.specialSite_itemList {
	padding:0;
}
.specialSite_itemList dt {
	padding:0 0 5px;
}
.specialSite_itemList dd {
	padding:0 0 40px;
    font-size: 18px !important;
    line-height: 1.4em !important;
}
.specialSite_itemList dd a {
	font-size: 18px !important;
}
.specialSite_itemList img {
	width:100%;
}
