@charset "euc-jp";
body {
	background-color: #F8F8EE;
	color: #666666;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	-webkit-text-size-adjust: 100%;
}

.headerFrame {
	/*■お知らせがある場合サイズを変更
	　　ヘッダー・フッター・レフトナビ3つとheader.cssのbnrCampも。*/
	/* height:540px !important; *//* 最少サイズ */
	/* height:600px !important; *//* 最少 + H60cmバナー */
	/* height:640px !important; *//* 最少 + H100cmバナー */
	/* height:550px !important; */
	height:550px !important;
}

/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
a {
	font-size: 12px;
	color: #069;
}
a:hover {
	color: #CC3366;
}
.space {
	clear: left;
}
.btm10 {
	clear: left;
	margin-bottom: 10px;
}
.btm30 {
	clear: left;
	margin-bottom: 30px;
}
.up10 {
	clear: left;
	margin-top: 10px;
}
.td-lh {
	text-decoration: line-through;
}
.td-ul {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, div, p, ul, dl, dt, dd, form, fieldset, address, img, p {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	border: none;
	/* font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3"; */
	line-height: 12px;
}
.fw-b {
	font-weight: bold;
}
.p15 {
	padding: 15px;
}
.pb-20 {
	padding-bottom: 20px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-mn20 {
	margin-bottom: -20px !important;
}

#wrapper {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 1000px;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url(../images/contents_bg.png);
}
#head {
	clear: left;
	width: 1000px;
}
#contents {
	float: left;
	width: 1000px;
}
#sab {
	float: left;
	width: 200px;
	margin-right: 10px;
}
#main {
	float: left;
	width: 790px;
}
#footer {
	margin-top: 50px;
	float: left;
}
#top_main {
	float: left;
	width: 790px;
	margin-bottom: 30px;
}
#top_main_left {
	float: left;
	width: 540px;
}
#top_main_right {
	float: left;
	width: 240px;
	margin-left: 10px;
}
#top_ranking {
	float: left;
	height: 45px;
	width: 240px;
	background-image: url(../images/top_ranking_bg.png);
	background-repeat: no-repeat;
}
#top_ranking p {
	font-size: 10px;
	font-weight: bold;
	color: #666;
	margin-top: 25px;
	margin-left: 50px;
}
.ranking_inner01 {
	float: left;
	width: 240px;
	padding-top: 5px;
	padding-bottom: 4px;
	background-image: url(../images/ranking_line.png);
	background-repeat: repeat-x;
	background-position: top;
}
.ranking_inner01 img {
	float: left;
	margin-right: 5px;
}
.ranking_inner01 p {
	color: #666;
	margin-left: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: 14px;
}
.ranking_inner01 p a {
	font-weight: normal;
	text-decoration: none;
	color: #666;
}
.ranking_inner01 p a:hover {
	text-decoration: underline;
}
.ranking_inner02 {
	float: left;
	width: 240px;
	padding-top: 8px;
	padding-bottom: 7px;
	background-image: url(../images/ranking_line.png);
	background-repeat: repeat-x;
	background-position: top;
}
.ranking_inner02 img {
	float: left;
	margin-right: 5px;
}
.ranking_inner02 p {
	color: #666;
	margin-top: 5px;
	line-height: 14px;
}
.ranking_inner02 p a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.ranking_inner02 p a:hover {
	text-decoration: underline;
}
#ranking01 {
	width: 172px;
	float: right;
	height: 63px;
	background-image: url(../images/ranking_icon01.png);
	background-repeat: no-repeat;
}
#ranking02 {
	width: 172px;
	float: right;
	height: 63px;
	background-image: url(../images/ranking_icon02.png);
	background-repeat: no-repeat;
}
#ranking03 {
	width: 172px;
	float: right;
	height: 63px;
	background-image: url(../images/ranking_icon03.png);
	background-repeat: no-repeat;
}
#ranking04 {
	width: 194px;
	float: right;
	height: 39px;
}
.top_inner {
	margin-bottom: 20px;
	float: left;
	width: 790px;
}
.top_info {
	margin-bottom: 40px;
	width: 770px;
	float: left;
	padding: 10px;
}
.top_info li {
	margin-bottom: 1px;
	padding-top: 4px;
	padding-left: 55px;
}
/*全幅790の2列*/
.top_inner_l {
	float: left;
	width: 390px;
	margin-bottom: 10px;
	text-align: center;
}
.top_inner_l img {
	margin-bottom: 5px;
}
.top_inner_l a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.top_inner_l a:hover {
	text-decoration: underline;
}
.top_inner_r {
	float: left;
	width: 390px;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.top_inner_r img {
	margin-bottom: 5px;
}
.top_inner_r a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.top_inner_r a:hover {
	text-decoration: underline;
}
/*全幅1000の2列*/
.top_inner_l2 {
	float: left;
	width: 495px;
	margin-bottom: 10px;
	text-align: center;
}
.top_inner_l2 img {
	margin-bottom: 5px;
}
.top_inner_l2 a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.top_inner_l2 a:hover {
	text-decoration: underline;
}
.top_inner_r2 {
	float: left;
	width: 495px;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.top_inner_r2 img {
	margin-bottom: 5px;
}
.top_inner_r2 a {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.top_inner_r2 a:hover {
	text-decoration: underline;
}

.icon01 {
	background-image: url(../images/icon_info.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 17px;
}
.icon02 {
	background-image: url(../images/icon_otoku.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 17px;
}
.top_set {
	padding: 15px;
	margin-bottom: 30px;
	float: left;
	width: 760px;
}
.top_set01 {
	position: relative;
	float: left;
	width: 140px;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.top_set02 {
	position: relative;
	float: left;
	width: 140px;
	margin-bottom: 15px;
	text-align: center;
}
.top_set01 img {
	margin-bottom: 3px;
}
.top_set02 img {
	margin-bottom: 3px;
}
.top_set_pickUp {
	background-color: #FDEAEA;
}
.top_set_pickUp:after {
	content: "";
	position: absolute;
	top: -15px;
	left: 50%;
	margin-left: -40px;
	width: 79px;
	height: 21px;
	background: url(../images/top_set_pickup.png) center top no-repeat;
}
.top_set_sale {
	background-color: #FFFFA2;
}
.top_set_sale:after {
	content: "";
	position: absolute;
	top: -18px;
	left: 50%;
	margin-left: -40px;
	width: 79px;
	height: 21px;
	background: url(../images/top_set_sale.png) center top no-repeat;
}
.price_off {
	font-weight: bold;
	color: #F00;
	font-size: 10px;
}
.top_set01 p a {
	font-size: 10px;
}
.top_set02 p a {
	font-size: 10px;
}
.price {
	font-size: 12px;
	line-height: 1.4em;
	font-weight: bold;
	/* color: #99A544; */
	color: #C92F2E;
}
#review_txt {
	float: left;
	height: 212px;
	width: 790px;
	background-image: url(../images/review_txt.png);
	background-repeat: no-repeat;
}
#review_txt #next {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 120px;
}
#review_txt .next_pre {
	font-size: 26px;
	color: #870000;
	padding-left: 20px;
}
#review_atten {
	float: left;
	width: 768px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #CCC;
	background-color: #FFF;
}
#review_atten p {
	line-height: 14px;
}
.point_area01 {
	float: left;
	width: 790px;
	margin-bottom: 30px;
}
.point_area01 p {
	font-size: 16px;
	line-height: 1.2em;
}
.point_area01 .bnr {
	border: 5px solid #CCC;
	padding: 10px;
	clear: left;
	text-align: center;
	background-color: #FCF5E2;
}
.point_area01 table {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.point_area01 th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #D1E0EF;
	padding: 10px;
	width: 160px;
	text-align: left;
}
.point_area01 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #FFF;
	padding: 10px;
	line-height: 14px;
}
.point_area01 tr:first-of-type th, .point_area01 tr:first-of-type td {
	border-top: 1px solid #CCC;
}
.point_area02 {
	float: left;
	width: 790px;
	margin-bottom: 30px;
}
.point_area02 .bnr {
	border: 5px solid #CCC;
	padding: 10px;
	clear: left;
	text-align: center;
	background-color: #FFE8E8;
}
.point_area02 table {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.point_area02 th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #FFE8E8;
	padding: 10px;
	width: 160px;
	text-align: left;
}
.point_area02 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	background-color: #FFF;
	padding: 10px;
	line-height: 14px;
}
#point_info {
	border: 5px solid #D8456F;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #FCF1F4;
}
#point_info p {
	color: #D8456F;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
}
#about_tit {
	background-image: url(../images/about_tit.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 618px;
	width: 790px;
	margin-bottom: 40px;
}
#about_tit p {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-top: 520px;
}
#about_txt {
	background-color: #333331;
	padding: 10px;
	margin-bottom: 40px;
}
.about_inner {
	margin-bottom: 40px;
}
.about_inner p {
	font-size: 14px;
	line-height: 16px;
}
#about_txt p {
	font-size: 14px;
	line-height: 16px;
	color: #FFF;
}
.coupon_get {
	padding: 10px;
	background-color: #E6F1CD;
	text-align: center;
	margin-bottom: 10px;
}
#soy_btn {
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background-color: #E8EFF7;
}
#review_link {
	margin-bottom: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #F6BC50;
	border-bottom-color: #F6BC50;
	border-left-color: #F6BC50;
	padding: 10px;
	text-align: center;
}
.news {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #FFF;
	padding: 20px;
}
.news p {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
}
/*--------------------- 追加css ---------------------*/
/*---------------
	clearfix
-----------------*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow:hidden;
}
.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */
.imgSize100 {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.imgSize100 img {
	width: 100%;
}
.ta_c {
	text-align: center;
}
.txtBox {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	padding: 20px;
	margin-bottom: 20px;
	color: #000;
	/* font-weight: bold; */
}
.txtBox-white {
	background-color: #FFF;
}
.txtBox p {
	font-size: 16px;
	line-height: 1.4em;
}
.pt-5 {
	padding-top: 5px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-30 {
	padding-top: 30px;
}
.fz-24 {
	font-size: 24px !important;
}
.fz-18 {
	font-size: 18px !important;
}
.fz-16 {
	font-size: 16px;
}
.fz-14 {
	font-size: 14px;
}
.fc-pink {
	color:#F83E75;
}
.fc-red {
	color:red;
}
.media_tv {
	position: relative;
}
.media_tv .icon_media_tv {
	position: absolute;
	/*width: 198px;
	height: 202px;*/
	width: 174px;
	height: 178px;
	bottom: 30px;
	right: -162px;
}
.media_tv .icon_media_tv img {
	width:100%;
}



/*--------------------------------------------- スーパーSALE特設会場 ---------------------------------------------*/
.specialSite {
	padding: 0 0 20px;
	font-family: Hiragino Kaku Gothic ProN, Meiryo, sans-serif !important;
	text-decoration: none;
}
.specialSite-pink {
	background: url(../images/ss/specialsite_bg.png) left top repeat;
}
.specialSite-yellow {
	background: url(../images/ss/specialsite2_bg.png) left top repeat;
}

.specialSite-deal-camp {
	position:relative;
	width:100%;
	font-family: 'Noto Sans Japanese', Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#000000;
}
.specialSite-deal-camp_bnr {
	position:absolute;
	top:215px;
	right:15px;
	padding:15px;
	width:520px;
	background:#FFFFA2;
	border-radius:15px;
}
.specialSite-deal-camp_bnr img {
	width:100%;
}
.specialSite-deal-camp_txt01 {
	position:absolute;
	top:450px;
	left:30px;
	width:200px;
	font-size: 18px;
	line-height: 1.2;
}
.specialSite-deal-camp_txt02 {
	position:absolute;
	top:445px;
	right:15px;
	width:485px;
	font-size: 18px;
	line-height: 1.2;
}

.specialSite * {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.specialSite a:hover {
	opacity: 0.8;
}
.specialSite_title {
	margin:0 auto;
	padding:15px;
	font-size: 36px;
	line-height: 1;
	text-align: center;
position: relative;
display: block;
	color: #FFF;
	font-family: 'Noto Sans Japanese', Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.specialSite_title-01 {
	background-color: #EC0478;
}
.specialSite_title-02 {
	background-color: #E50000;
}
.specialSite_title-03 {
	background-color: #AE9F1E;
	padding:30px 15px;
}
.specialSite_title_md {
	font-size: 24px;
}
.specialSite_title_em {
	font-size: 48px;
}
.specialSite_title:before, .specialSite_title:after{
content: '';
position: absolute;
top: 50%;
display: inline-block;
width: 75px;
height: 2px;
border-top: solid 1px #FFF;
border-bottom: solid 1px #FFF;
}
.specialSite_title:before {left:0;}
.specialSite_title:after {right: 0;}
.specialSite_title_txt {
	padding:15px 0 0;
	text-align:center;
	font-size: 18px;
	line-height: 1.2;
}
.specialSite_title_txt_s {
	font-size: 14px;
	line-height: 1.2;
}
.specialSite_title_txt_a {
	padding:0 0 15px;
	text-align:center;
}
.specialSite_title_txt_a a {
	font-size: 18px;
	line-height: 1.2;
}
.specialSite_block {
	position: relative;
	margin: 0 auto 30px;
	padding: 15px 15px;
	width: 740px;
	background: #FFF;
	border-radius: 15px;
	border: 5px solid #FFF;
}
.specialSite_block-green {
	border-color: #53AE31;
}
.specialSite_block-red {
	border-color: #E50000;
}
.specialSite_block-gold {
	border-color: #AE9F1E;
}
.specialSite_block-white {
	border-color: #FEFEFE;
}
.specialSite_block-lbrue {
	border-color: #21B3EC;
}
/*.specialSite_block-tt-01 {
	background: url(../images/specialsite2_tt01.png) left top no-repeat #FFF;
	padding-top:90px;
}.specialSite_block-tt-02 {
	background: url(../images/specialsite2_tt02.png) left top no-repeat #FFF;
	padding-top:90px;
}*/
.specialSite_block p {
	margin-bottom: 10px;
}
.specialSite_block_icon {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 214px;
	height: 214px;
}
.specialSite_block_txt {
	padding: 0 0 12px 200px;
}
.specialSite_block_off {
	padding: 0 0 0 210px;
}
.specialSite_qouponGet {
	margin-bottom: 10px;
	padding: 8px 8px;
	border:3px solid #FAFAFA; 
	/* background-color: #AE9F1E; */
	text-align: center;
}
.specialSite_qouponGet_txt {
	margin-bottom: 3px !important;
	font-size: 14px;
	text-align:center;
}
.specialSite_qouponGet_txt_last {
	padding:10px 0;
	text-align:center;
	font-size: 16px;
	line-height: 1.2;
}
.specialSite_qouponGet_txt_last a {
	font-size: 16px;
}
.specialSite_txt-last {
	font-size: 18px !important;
	line-height: 1.4em;
	padding: 5px 0 10px;
	font-weight: bold;
	text-align: center;
}
/*--- セール商品 ---*/
.specialSite_table * {
	line-height: 1.5em;
	font-size: 15px;
	text-decoration: none !important;
}
.specialSite_table_itemtt {
	color: #3b5998;
}
.specialSite_table_itemPrice {
	color: #BF0000;
}
/*--- 送料無料 ---*/
.specialSite_freett {
	text-align: center;
	font-size: 24px;
	line-height: 1.2em;
	font-weight: bold;
	color: #FF0000;
}
.specialSite_freett-nml {
	text-align: center;
	font-size: 24px;
	line-height: 1.2em;
	font-weight: bold;
}
.specialSite_freett-red {
	color: #FF0000;
}
.specialSite_freeImg {
	width: 100%;
}
.specialSite_block .top_set {
	margin: 0 auto;
	float: none;
	width: 610px;
}
.specialSite_freePrice {
	color: #FF0000;
}
.specialSite_free_link {
	margin: 10px;
	text-align: center;
}
.specialSite_free_link a {
	font-size: 15px !important;
	font-weight: bold;
}
/*--- specialSite_block2 ---*/
.specialSite_itemList {
	padding: 0;
	color: #333;
}
.specialSite_itemList-2clm {
	float:left;
	padding:0 10px;
	width:47%;
}
.specialSite_itemList dt {
	padding: 0 0 5px;
	text-align: center;
}
.specialSite_itemList dt img {
	width:96%;
}
.specialSite_itemList dd {
	padding: 0 0 30px;
	font-size: 18px !important;
	line-height: 1.4em !important;
}
.specialSite_itemList dd a {
	font-size: 18px !important;
}
.specialSite_itemList img {
	width: 100%;
}
.specialSite_itemList_em-c {
	color: #EC0478;
	font-weight: bold;
}
.specialSite_itemList_em {
	color: red;
	font-weight: bold;
	font-size: 18px;
}
.specialSite_img img {
	width:100%;
}
.topItem {
	overflow:hidden;
	margin:15px auto 30px;
	padding:10px;
	width:96%;
	background:#FFF;
}
.topItem .top_inner {
	margin:0 auto;
	width:100%;
	-wevkit-display:flex;
	display:flex;
	-wevkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-align-items: center;
	align-items: center;
}
.topItem img {
	width:100%;
}
.topItem_tit {
	width:46%;
}
.topItem_tit {
position: relative;
padding: 0.25em 1em;
border-top: solid 2px red;
border-bottom: solid 2px red;
}
.topItem_tit:before, .topItem_tit:after{
content: '';
position: absolute;
top: -7px;
width: 2px;
  height: -webkit-calc(100% + 14px);
height: calc(100% + 14px);
background-color: red;
}
.topItem_tit:before {left: 7px;}
.topItem_tit:after {right: 7px;}
.topItem_tit p {
	padding:0;
	text-align:center;
	color:red;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
}
.topItem .top_inner_l,
.topItem .top_inner_r {
	margin:0 5px 5px;
	width:23%;
	float:none;
}

/*------------------------------------
 specialSite02
------------------------------------*/
.specialSite02 {
	margin: 0 auto;
	width: 100%;
	max-width: 790px;
	font-family: 'Noto Sans Japanese', Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #1B1616;
	/* background:url(../images/specialsite_om_bg-spr.png) left top repeat-y; */
	/* background:url(../images/ss/specialsite_om_bg-rain.png) left top repeat-y; */
}
.specialSite02 * {
	box-sizing: border-box;
	line-height: 1.4 !important;
	letter-spacing: 0.06em;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.specialSite02 {
		font-family: "メイリオ", "ＭＳ Ｐゴシック", "小塚ゴシック Pro R", "ヒラギノ角ゴ Pro W3", "Meiryo", "MS PGothic", "KozGoPro-Regular", "Hiragino Kaku Gothic Pro", "MS UI Gothic", Osaka, sans-serif;
	}
	.specialSite02 * {
		letter-spacing: 0.05em;
	}
}
.specialSite02 a:hover img {
	opacity: 0.8;
}
.specialSite02__header {
	position: relative;
	/* margin-bottom: 30px; */
	width: 100%;
	/*height: 328px;*/
	height: 318px;
	background: url(../images/om/specialsite_om_header.png) left top no-repeat;
	/* background: url(../images/specialsite_gw_header.png) left top no-repeat; */
}
.specialSite02__header__02 {
}
.specialSite02__header__limited {
	position: absolute;
	width: 100%;
	left: 0;
	top: 140px;
	text-align: center;
	font-size: 16px;
}
.specialSite02__header__limited-em {
	font-size: 18px;
}
.specialSite02__header__bnr {
	position: absolute;
	margin-left: -355px;
	width: 100%;
	left: 50%;
	/* bottom: 20px; */
	bottom: 10px;
	overflow: hidden;
	width: 710px; 
}
.specialSite02__header__bnr li {
	float: left;
	width: 230px;
}
.specialSite02__header__bnr li.specialSite02__header__bnr__twice {
	width: 470px;
}
.specialSite02__header__bnr li:nth-child(2) {
	margin: 0 10px;
}
.specialSite02__header__bnr li.specialSite02__header__bnr__twice:nth-child(2) {
	margin: 0 0 0 10px;
}
.specialSite02__header__bnr li a {
	display: block;
}
.specialSite02__text {
	margin-bottom: 10px;;
	font-size: 18px;
	text-align: center;
}
.specialSite02__title01 {
	margin-bottom: 30px;
	text-align: center;
}
.specialSite02__toppage_itemlist {
	overflow:hidden;
	margin:15px auto 0;
}
.specialSite02__toppage_itemlist .top_inner {
	margin-bottom: 20px;
}
.specialSite02__toppage_itemlist * {
	letter-spacing: 0;
}
/*--------------------
 con01
----------------------*/
.specialSite02__con01 {
	position: relative;
	margin: 0 auto 45px;
	padding: 28px 22px 32px;
	width: 730px;
	border: 1px solid #1B1616;
	background-color: rgba(256, 256, 256, 0.8);
}
.specialSite02__con01__title {
	text-align: center;
	line-height: 1.6;
	font-size: 24px;
}
.specialSite02__con01__title__em {
	font-size: 36px;
}
.specialSite02__con01::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -30px;
	margin-left: -32.5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 32.5px 0 32.5px;
	border-color: #000000 transparent transparent transparent;
}
/*--------------------
 con02
----------------------*/
.specialSite02__con02 {
	position: relative;
	overflow: hidden;
	margin: 0 auto 15px;
	width: 730px;
}
.specialSite02__con02-col2 {
	width:500px;
}
.specialSite02__con02__item {
	float: left;
	width: 230px;
}
.specialSite02__con02__item__img {
	margin: 0 0 12px;
}
.specialSite02__con02__item__text a {
	padding-bottom: 3px;
	font-size: 16px;
}
.specialSite02__con02__item__price {
	font-size: 18px;
}
.specialSite02__con02__item__price__em {
	letter-spacing: 0.02em;
	font-size: 24px;
	font-weight: 900;
}
.specialSite02__con02__symb {
	position: absolute;
	width: 36px;
	font-size: 36px;
	font-weight: 900;
}
.specialSite02__con02__symb-01 {
	left: 180px;
	top: 60px;
}
.specialSite02__con02__symb-02 {
	left: 410px;
	top: 60px;
}
.specialSite02__con02__regPrice {
	float: left;
	width: 270px;
}
.specialSite02__con02__regPrice__text {
	padding-bottom: 5px;
	text-align: center;
	font-size: 21px;
	color: #E50000;
}
.specialSite02__con02__regPrice__text__em {
	font-size: 39px;
	font-weight: 900;
}
.specialSite02__con02__regPrice__price {
	padding-bottom: 15px;
	text-align: center;
	font-size: 21px;
	color: #1B1616;
}
.specialSite02__con02__regPrice__price__em {
	letter-spacing: 0.02em;
	font-size: 42px;
	font-weight: 700;
}
.specialSite02__con02__regPrice__symb {
	text-align: center;
}


/*--------------------
 spSiteCon01
----------------------*/
.spSiteCon01 {
	overflow: hidden;
	margin: 0 auto 60px;
	padding: 15px;
	width: 770px;
	border: 5px solid #E50000;
	background-color: #FFF;
}
.spSiteCon01_item {
	float: left;
	width: 190px;
	padding:15px;
}
.spSiteCon01_item__img {
	margin: 0 0 12px;
}
.spSiteCon01_item__text a {
	padding-bottom: 3px;
	font-size: 16px;
}
.spSiteCon01_item__price {
	font-size: 18px;
}
.spSiteCon01_item__price__em {
	letter-spacing: 0.02em;
	font-size: 24px;
	font-weight: 900;
}
.spSiteCon01__regPrice {
	float: left;
	width: 540px;
	text-align: center;
}
.spSiteCon01__title {
	padding: 5px 0 0 5px;
	font-size: 20px;
	font-weight: bold;
	color: #1B1616;
}
.spSiteCon01__title__em {
	font-size: 35px;
	color: #E50000;
	letter-spacing: 0;
}
.spSiteCon01__priceBlock {
	text-align: center;
}
.spSiteCon01__priceBlock__price {
	font-size: 30px;
	color: #E50000;
}
.spSiteCon01__priceBlock__price__em {
	letter-spacing: 0.02em;
	font-size: 42px;
	font-weight: 900;
}
.spSiteCon01__coupon {
	margin: 15px auto;
	width:100%;
}
.spSiteCon01__coupon__text {
	letter-spacing: 0.02em;
	font-size: 18px;
	font-weight: 400;
}
.spSiteCon01__coupon__text2 {
	letter-spacing: 0.02em;
	font-size: 16px;
	font-weight: 400;
}
.spSiteCon01__coupon a {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 15px 20px;
	width: 92%;
	background: #CE0000;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.02em;
	font-size: 24px;
	font-weight: 700;
}
.spSiteCon01__coupon a::before {
	content: '';
	position: absolute;
	margin-top: -11px;
	width: 15px;
	height: 23px;
	left: 15px;
	top: 50%;
	background: url(../images/om/specialsite_om_img04.png) left top no-repeat;
}
.spSiteCon01__coupon a::after {
	content: '';
	position: absolute;
	margin-top: -11px;
	width: 15px;
	height: 23px;
	right: 15px;
	top: 50%;
	background: url(../images/om/specialsite_om_img04.png) left top no-repeat;
	transform: rotate(180deg);
}
.spSiteCon01__coupon a:hover {
	background-color: #E50000;
}
.spSiteCon01__coupon__em {
	letter-spacing: 0.02em;
	font-size: 32px;
	font-weight: 900;
	color: #FFF819;
}





/* .spSiteCon01__regPrice__text {
	padding-bottom: 5px;
	text-align: center;
	font-size: 21px;
	color: #E50000;
}
.spSiteCon01__regPrice__text__em {
	font-size: 39px;
	font-weight: 900;
}
.spSiteCon01__regPrice__price {
	padding-bottom: 15px;
	text-align: center;
	font-size: 21px;
	color: #1B1616;
}
.spSiteCon01__regPrice__price__em {
	letter-spacing: 0.02em;
	font-size: 42px;
	font-weight: 700;
}
.spSiteCon01__regPrice__symb {
	text-align: center;
} */
/*--------------------
 con03
----------------------*/
.specialSite02__con03 {
	overflow: hidden;
	margin: 0 auto 60px;
	padding: 15px;
	width: 770px;
	border: 5px solid #E50000;
	background-color: #FFF;
}
.specialSite02__con03-bdrNon {
	border:none;
}
.specialSite02__con03__text01 {
	letter-spacing: 0.02em;
	text-align:center;
	font-size: 46px;
	font-weight: 700;
	color: #20ACDB;
}
.specialSite02__con03__text02 {
	text-align: center;
	font-size: 15px;
	margin-bottom: 20px;
}
.specialSite02__con03__text03 {
	text-align: center;
	font-size: 20px;
}
.specialSite02__con03__title {
	float: left;
	padding: 5px 0 0 5px;
	width: 426px;
	font-size: 20px;
	font-weight: bold;
	color: #1B1616;
}
.specialSite02__con03__title-twice {
	width: 100%;
	text-align:center;
}
.specialSite02__con03__title__em {
	font-size: 35px;
	color: #E50000;
	letter-spacing: 0;
}
.specialSite02__con03__title__sm {
	font-size: 14px;
}
.specialSite02__con03__symb {
	float: left;
	padding-top: 15px;
	width: 30px;
	font-size: 26px;
	color: #1B1616;
}
.specialSite02__con03__priceBlock {
	float: left;
	width: 264px;
	text-align: center;
	color: #E50000;
}
.specialSite02__con03__priceBlock__text {
	letter-spacing: 0.02em;
	font-size: 16px;
	font-weight: 700;
}
.specialSite02__con03__priceBlock__price {
	font-size: 30px;
}
.specialSite02__con03__priceBlock__price__em {
	letter-spacing: 0.02em;
	font-size: 42px;
	font-weight: 900;
}
.specialSite02__con03__coupon {
	clear: both;
	padding-top: 20px;
}
.specialSite02__con03__coupon-pb {
	padding:0 0 30px;
}
.specialSite02__con03__coupon a {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 15px 20px;
	width: 650px;
	background: #CE0000;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.02em;
	font-size: 30px;
	font-weight: 700;
}
.specialSite02__con03__coupon a::before {
	content: '';
	position: absolute;
	margin-top: -11px;
	width: 15px;
	height: 23px;
	left: 15px;
	top: 50%;
	background: url(../images/om/specialsite_om_img04.png) left top no-repeat;
}
.specialSite02__con03__coupon a::after {
	content: '';
	position: absolute;
	margin-top: -11px;
	width: 15px;
	height: 23px;
	right: 15px;
	top: 50%;
	background: url(../images/om/specialsite_om_img04.png) left top no-repeat;
	transform: rotate(180deg);
}
.specialSite02__con03__coupon a:hover {
	background-color: #E50000;
}
.specialSite02__con03__coupon a:hover::before {
	left: 18px;
}
.specialSite02__con03__coupon a:hover::after {
	right: 18px;
}
.specialSite02__con03__coupon__em {
	letter-spacing: 0.02em;
	font-size: 40px;
	font-weight: 900;
	color: #FFF819;
}
/*--------------------
 con04
----------------------*/
.specialSite02__con04 {
	margin-top: 10px;
}
.specialSite02__con04__text01 {
	text-align: center;
	font-size: 24px;
}
.specialSite02__con04__text02 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}	
.specialSite02__con04__text03 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
.specialSite02__con04__text03__em {
	color: #E50000;
	font-size: 36px;
	font-weight: 900;
}
.specialSite02__con04__text04 {
	margin-bottom: 50px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
/*--------------------
 con05
----------------------*/
.specialSite02__con05 {
	margin-bottom:60px;
}
.specialSite02__con05__title {
	text-align:center;
	font-size: 20px;
	font-weight: 700;
	color: #20ACDB;
}
.specialSite02__con05__bnr {
}
/*--------------------
 con06
----------------------*/
.specialSite02__con06 {
	overflow: hidden;
	margin: 0 auto 30px;
	padding: 20px 20px;
	width: 790px;
	border: 8px dotted #E9BC35;
/*    background: -webkit-repeating-linear-gradient(-45deg, #ffffff, #ffffff 5px,#FFFFD0 5px, #FFFFD0 10px);
    background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 5px,#FFFFD0 5px, #FFFFD0 10px);
*/
	background:#FFF;
}
.specialSite02__con06__text01 {
	letter-spacing: 0.02em;
	text-align:center;
	font-size: 50px;
	font-weight: 900;
	color: #BF0000;
}
.specialSite02__con06__text01_mod {
	font-size:16px;
	color:#000;
	font-weight: normal;
}
/* .specialSite02__con06 {
	overflow: hidden;
	margin: 0 auto 60px;
	padding: 15px 15px 30px;
	width: 770px;
	background-color: #FFF;
}
.specialSite02__con06__text01 {
	letter-spacing: 0.02em;
	text-align:center;
	font-size: 46px;
	font-weight: 700;
	color: #20ACDB;
}
 */
.specialSite02__con06__text02 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}
.specialSite02__con06__text03 {
	text-align: center;
	font-size: 15px;
	margin-top: 20px;
}
.specialSite02__con06__list {
	text-align: center;
}
.specialSite02__con06__list a {
	display:block;
	margin-bottom: 15px;
}

.ic_coupon {
	display:inline-block;
	margin-bottom: 3px;
	padding:3px 34px 0 0;
	min-height:27px;
	background:url(../images/ss/ic_coupon.png) right top no-repeat;
	background-size: contain;
}


/* スライダー */
#css-slider {
	width: 300px;
	height: 200px;
	overflow: hidden;
}
 
.slide-item {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
}
 
 
.slider-wrapper {
	width: 300%;
	position: relative;
	left: 0;
	will-change: transform;
	animation: slider 10s infinite;
}
 
@keyframes slider {
  0% { transform: translateX(0); }
  33% { transform: translateX(-300px); }
  66% { transform: translateX(-600px); }
  100% { transform: translateX(0); }
}
