@charset "utf-8";

#sp_header_bnr {
    display: block;
    width: 100%;
   height: 190px;/*-- ↓と揃える：バナーH240px+2行　--*/
    /* height: 135px; *//*-- ↓と揃える：バナーH120px+3行　--*/
   /* height: 125px; *//*-- ↓と揃える：バナーH120px+2行　--*/
    box-sizing: border-box;
    padding: 0;
    margin: 150px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0 !important;
}

/*--　ナビ店名のクラス名　--*/
.itemtitle {
    margin: 0 !important;
	margin-top: 190px !important; /*-- ↑と揃える：バナーH240px+2行　--*/	
	/* margin-top: 135px !important; */ /*-- ↑と揃える：バナーH120px+3行　--*/	
	/* margin-top: 125px !important; */ /*-- ↑と揃える：バナーH120px+2行　--*/	

}